.banner-principal__img
  animation-name: spin
  animation-duration: 10.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

@keyframes spin
  0%
    transform: rotate(0deg) 
    transform: translatey(0px)
    transform: translatex(0px)           
  25%
    transform: rotate(1deg)
  50%
    transform: rotate(0deg)
    transform: translatex(16px)           
  60%
    transform: translatey(16px)    
  75%
    transform: rotate(1deg)
    transform: translatex(-16px)   
  100%
    transform: rotate(0deg)
    transform: translatey(0px)
    transform: translatex(0px)   

.img-a 
  display: block
  margin: auto

.img-t
  width: auto
  height: auto    

.BorTit
  border-left: 5px solid #529AD9
  padding: 6px 0px 6px 10px     
  
.BorTit_table
  border-left: 5px solid #EA3065
  padding: 6px 0px 6px 10px    

.num-color-list
  background-color: #BF3976 !important  

.list 
  width: 100%
  display: flex !important
  &__item 
    &__bulletNumber 
      position: relative
      width: 30px
      height: 30px
      margin-right: 1rem
      text-align: center
      border-radius: 50%
      background-color: #339CE9
      span 
        color: white
        font-weight: bold
        font-size: 20px 
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
      
    
    &__number 
      position: relative
      margin-right: 0.5rem
      span 
        color:#BF3976
        font-size: 13pt
        font-weight: 700
        line-height: 1.2
      
    
    &__icon 
      position: relative
      width: 20px
      margin-right: 0.65rem
      margin-top: 4px
      img 
        width: 20px
        vertical-align: middle
        
  &__txt 
    p:first-child,
    h4:first-child 
      margin-top: 7px  

.bloque-texto-c.color-secundario
  background-color: lighten(#339CE9,33% ) 
.bloque-texto-c i
  color: #00357B !important
.bloque-texto-c::after
  background-color: #00357B !important          

.bloque-texto-c.color-primario
  background-color: lighten(#0AC4BF,50% ) 
    
.bg-img-teme-1 
  background-image: url(../assets/ilustraciones/img1-1.jpg)
  background-repeat: no-repeat
  background-size: auto 100%
  background-repeat: repeat-x
  background-position: bottom right 
.bg-img-teme-1-1 
  background-image: url(../assets/ilustraciones/img1-2.jpg)
  background-repeat: no-repeat
  background-size: auto 100%
  background-position: bottom left    

.bg-img-teme-1-2 
  background-image: url(../assets/ilustraciones/img1-3.jpg)
  background-repeat: no-repeat
  background-size: auto 100%
  background-repeat: repeat-x
  background-position: bottom right 
.bg-img-teme-1-3 
  background-image: url(../assets/ilustraciones/img1-4.jpg)
  background-repeat: no-repeat
  background-size: auto 100%
  background-position: bottom left 

.bg-img-teme-1-4 
  background-image: url(../assets/ilustraciones/img1-5.jpg)
  background-repeat: no-repeat
  background-size: auto 100%
  background-repeat: repeat-x
  background-position: bottom right 
.bg-img-teme-1-5 
  background-image: url(../assets/ilustraciones/img1-6.jpg)
  background-repeat: no-repeat
  background-size: auto 100%
  background-position: bottom left   

.bg-img-teme-1-6
  background-image: url(../assets/ilustraciones/img1-7.jpg)
  background-repeat: no-repeat
  background-size: auto 100%
  background-repeat: repeat-x
  background-position: bottom right 
.bg-img-teme-1-7
  background-image: url(../assets/ilustraciones/img1-8.jpg)
  background-repeat: no-repeat
  background-size: auto 100%
  background-position: bottom left 

.bg-img-1 
  background-image: url(../assets/ilustraciones/img3.png)
  margin-inline: -3.2rem
  background-repeat: no-repeat
  background-size: cover  

.bg-img-2
  background-image: url(../assets/ilustraciones/img4.png)
  margin-inline: -3.2rem
  background-repeat: no-repeat
  background-size: cover  

.bg-img-3
  background-image: url(../assets/ilustraciones/img5.png)
  margin-inline: -3.2rem
  background-repeat: no-repeat
  background-size: cover    
  
.bg-img-5
  background-image: url(../assets/ilustraciones/img16.png)
  background-repeat: no-repeat
  background-size: cover 
  background-position: center
.bg-img-5-1
  background-image: url(../assets/ilustraciones/img17.png)
  margin-inline: -3.2rem
  background-repeat: no-repeat
  background-size: cover   

.bg-img-6
  background-image: url(../assets/ilustraciones/img21.png)
  margin-inline: -3.2rem
  background-repeat: no-repeat
  background-size: cover    

.bg-img-7
  background-image: url(../assets/ilustraciones/img27.png)
  margin-inline: -3.2rem
  background-repeat: no-repeat
  background-size: cover 

.bg-img-8
  background-image: url(../assets/ilustraciones/img37.png)
  margin-inline: -3.2rem
  background-repeat: no-repeat
  background-size: cover 

.bg-img-9
  background-image: url(../assets/ilustraciones/img42.png)
  margin-inline: -3.2rem
  background-repeat: no-repeat
  background-size: cover 

.bg-img-10
  background-image: url(../assets/ilustraciones/img47.png)
  margin-inline: -3.2rem
  background-repeat: no-repeat
  background-size: cover   

.bg-img-11
  background-image: url(../assets/ilustraciones/img22.png)
  background-repeat: no-repeat
  background-size: cover 
  background-position: center

.bg-img-12
  background-image: url(../assets/ilustraciones/img29.png)
  background-repeat: no-repeat
  background-size: cover 
  background-position: center

.bg-img-13
  background-image: url(../assets/ilustraciones/img30.png)
  background-repeat: no-repeat
  background-size: cover 
  background-position: center  

.bg-img-14
  background-image: url(../assets/ilustraciones/img39.png)
  background-repeat: no-repeat
  background-size: cover 
  background-position: center 

.bg-img-15
  background-image: url(../assets/ilustraciones/img40.png)
  background-repeat: no-repeat
  background-size: cover 
  background-position: center   

.bg-img-16
  background-image: url(../assets/ilustraciones/img62.jpg)
  background-repeat: no-repeat
  background-size: contain
  background-position: center 

.bg-img-17
  background-image: url(../assets/ilustraciones/img63.svg)
  background-repeat: no-repeat
  background-size: contain
  background-position: bottom center  


.bg-color-1
  background-color: #E8E8E8 
  border-bottom: 5rem solid #4BB8DE
  
.bg-color-2  
  background-color: #FFCAD4

.bg-color-3 
  background-color: lighten(#339CE9,33%) 

.a-bg-1
  background-color: #6CDCD9 !important
.anexo *
  color: #00223D !important  
.anexo:hover
  background-color: lighten(#6CDCD9,10%) !important         

.a-bg-2
  background-color: #5FC6FF !important

.a-bg-3
  background-color: lighten(#339CE9,33%) !important

.card-p
  background-color: white
  border-radius: 10px  

.rosa
  color: #BF3976

.slyder-a__bullets
  bottom: 0px !important
.slyder-a__bullets__item--active
  background-color: #339CE9 !important 
  border-color: #339CE9 !important 

.card-p-1 
  color: #E9385A
  background-color: #FDC1D2
  border-radius: 10px

.img-bottom
  margin-top: 40rem    

.text-color
  color: #BF3976    

.mar-col
  margin-left: 39px

.hr
  border-bottom: 3px solid #FEE0E9  

.card-color-1  
  background-color: lighten(#BF3976,43%)
.card-color-2  
  background-color: lighten(#BF3976,30%)  

.img-bg-1
  background-color: #F6F6F6

.img-bg-2
  background-color: #339CE9     

.bloque-texto-c.color-acento-contenido
  background-color: lighten(#BF3976,40%)

.card-bg-color-1
  background-color: #CCBAE6 

.card-bg-color-2
  background-color: #776A9A

.bg-color-4
  background-color: #F2D7E4 !important

.bg-color-5
  background-color: #173451

.bg-color-6
  background-color: #F6F6F6
  border-bottom: 5px solid #8F2B58

.bg-color-7
  background-color: #BF3976

.bg-color-8
  background-color: #F6F6F6

.bg-color-9
  background-color: #FAFAFA

.bg-color-10
  background-color: #CCCCCC
  border: 10px solid white

.bg-color-11
  background-color: lighten(#339CE9,39%)   

.bg-color-12
  background-color: lighten(#E5B0C8,5%) !important   

.bg-color10 
    background-color: #E8DDD4
    background-image: url(../assets/ilustraciones/img61.png)
    background-repeat: no-repeat
    background-position: bottom  

.br-radius
  border-radius: 20px     

$gutter: 30px
$border-width: 6px
$dot-diameter: 28px
.timeline 
  width: 100%
  max-width: 1000px
  padding: 100px 50px
  position: relative
  &:before 
    content: ''
    position: absolute
    top: 0px
    left: calc(34.2% + -35px) //$gutter/2
    bottom: 0px
    width: 10px
    background: #0AC4BF
    border-radius: 20px  
  &:after 
    content: ""
    display: table
    clear: both
.entry 
  clear: both
  text-align: left
  position: relative
  .title 
    margin-bottom: .5em
    float: left
    padding-right: $gutter
    text-align: right
    position: relative  
    width: 90px
    height: 90px
    background: #BF3976
    border-radius: 50%
    transition: transform .3s ease-in-out
    display: flex
    justify-content: center
    align-items: center
    margin-left: 14.5%
    &:before 
      content: ''
      position: absolute
      width: $dot-diameter
      height: $dot-diameter
      border: $border-width solid #BF3976
      background-color:#0AC4BF
      border-radius: 100%
      top: 40%
      left: 130%
      right: -$dot-diameter
      z-index: 99
    &:after
      content: ""
      display: block
      top: 38%
      left: 73%
      width: 30px
      height: 30px
      transform: rotate(45deg)
      position: absolute
      background: #BF3976
    h3 
      margin: 0
      margin-left: 30px      
      font-size: 120%
      z-index: 20
      color: white 
    p 
      margin: 0
      font-size: 100%  
  .body 
    margin: 0 0 3em
    float: right
    width: 70%
    padding-left: $gutter
    p 
      line-height: 1.4em
      &:first-child 
        margin-top: 0
        font-weight: 400     
    ul 
      color:#aaa
      padding-left: 0
      list-style-type: none
      li:before 
        content: "–"
        margin-right: .5em
      

@media only screen and (max-width: 992px)
    .timeline 
      padding: 0px
    .body
      width: auto !important      
    .entry .body      
      padding-left: 0px 
    .timeline::before
      background-color: transparent !important         

.header-arrow
  background: #BF3976
  position: relative
  padding: 1rem
  border-radius: 10px

  header-arrow 
    margin: 0
    color:white 
    text-align: center   

  &--xs 
    padding: 0
    height: 8px

.header-arrow:before 
  content: ''
  -webkit-transition: all .3s ease
  transition: all .3s ease
  border-style: solid
  border-width: 25px 25px 0px 25px
  border-color: #BF3976 transparent transparent transparent
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: -18px
  margin-top: 0px 
  z-index: 20      

.yoyo
  animation-name: yoyo
  animation-duration: 7.0s
  animation-iteration-count: infinite
  -o-animation-direction: alternate

@keyframes yoyo
  0%
    transform: translatex(0px)
    transform: rotatey(-15deg)    
  50%
    transform: translatex(-15px)
  100%
    transform: translatex(0px)
    transform: rotatey(15deg)      

